@import url('https://fonts.googleapis.com/css?family=Mulish');

* {
font-family: Mulish;
}

.toolbar{
    background-color: #183BB5;
    gap: 1rem;
}

.logo{
    padding: 0.5rem;
}

h1 {
    margin-top: 3%;
    text-align: center;
}

form {
    display:flex;
    flex-direction: row ;
    border:1px solid rgb(42, 41, 41);
    border-radius: 0.5rem;
    padding:5px;
    margin-top: 1rem;
  }
  
input {
    flex-grow:1.5;
    border:none;
    }
  
input:focus {
    outline: none;
  }
  
.lupa {
    
    border: 0;
    background-color: white;
}
.lupa>img {
    width: 1.5rem;
    height: 1.5rem;
}

.title {
    font-family: 'Mulish', sans-serif;
}

.plan {
    background-color: rgba(24, 59, 181, 0.55);
    padding: 1rem;
    border-radius: 12px;
    margin: 0 4rem 0 4rem;
}

.contain-menu {
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

table{
    width: 100%;
    background-color: #D2D7E9;

}