<div class="footer">
    <div class="container">
        <div class="item-1">Ayuda</div>
        <div class="item-2">Novedades</div>
        <div class="item-3">Terminos</div>
        <div class="item-4">Contacto</div>
        <div class="item-5">0800-353-SALUD(92355) - www.clinicanocountry.com.ar</div>
    </div>
<div class="container-2">
    <div class="img-1"><img src="assets/img/logo_instagram.png" alt=""></div>
    <div class="img-2"><img src="assets/img/logo_face.png" alt=""></div>
    <div class="img-3"><img src="assets/img/logo_tw.png" alt=""></div>
    <div class="img-4"><img src="assets/img/logo_gmail.png" alt=""></div>
</div>

</div>
