
<section class="container">
    <div class="list__img">
        <img src="../../../assets/img/avatar.svg" alt="avatar" width="auto">
    </div>
    <ul class="list fs-5">
        <li class="list__item">
            <a routerLink="/home-patient" class="nav__link">Inicio</a>
        </li>
        <li class="list__item">
            <a routerLink="/" class="nav__link">Generar Turno</a>
        </li>
        <li class="list__item">
            <a routerLink="/"  class="nav__link">Mis Turnos</a>
        </li>
        <li class="list__item">
            <a routerLink="/"  class="nav__link">Mi Información</a>
        </li>               
    </ul>
    <div class="list__button fs-5">
        <a routerLink="/" class="button__link">Cerrar Sesión</a>
        <img src="../../../assets/img/button.svg" alt="button">
    </div>
</section>


