<app-header></app-header>
<div class="container text-center">
    <h2 class="pb-2 border-bottom">Bienvenido,<b>Dr.Hernandez</b>,estos son sus
        proximos turnos</h2>
    <div class="row">
        <div class="col-6 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fs-4">Especialidad</h5>
                    <p class="card-text fs-3"><b>CARDIOLOGIA</b></p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fs-4">N° de Matricula</h5>
                    <p class="card-text fs-3"><b>17.381.964</b></p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fs-4">Nº de Identidad</h5>
                    <p class="card-text fs-3 "><b>36.561.783</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<form>
    <input placeholder="Buscar por DNI" />
    <button class="lupa"><img src="assets/img/lupa.png" alt=""></button>
</form>
<div class="container mt-5 text-center">
    <table class="table ">
        <thead>
            <tr>

                <th scope="col">Paciente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">N° de Identidad</th>
       
        </thead>
        <tbody>
            <th><hr class="hr1"></th>
            <th><hr class="hr1"></th>
            <th><hr class="hr1"></th>
            <th><hr class="hr1"></th>
            
        </tbody>
             
        <tbody>
       
            <tr>
                <th>GARCIA,lautaro</th>
                <td>12/11/2022</td>
                <td>8.15 am</td>
                <td>38.357.124</td>
            </tr>

            <tr>
                <th>MARTINEZ,julieta</th>
                <td>12/11/2022</td>
                <td>9 am</td>
                <td>41.099.384</td>
            </tr>

            <tr>
                <th>HERNANDEZ,laura</th>
                <td>12/11/2022</td>
                <td>9.50 am</td>
                <td>27.348.199</td>
            </tr>

            <tr>
                <th>PEREZ,julian</th>
                <td>12/11/2022</td>
                <td>10.30 am</td>
                <td>32.139.655</td>
            </tr>

            <tr>
                <th>MUNRO,esteban</th>
                <td>12/11/2022</td>
                <td>11.55 am</td>
                <td>19.554.239</td>
            </tr>


        </tbody>
    </table>
</div>


<app-footer></app-footer>
