<div class='container-inputs'>
  <span>
    <h2>
      Especialidad
    </h2>
    <select class='form-select' aria-label="Default select example">
      <option selected>Seleccionar una especialidad</option>
      <option value="1">Oftalmología</option>
      <option value="2">Cardiología</option>
      <option value="3">Dermatología</option>
    </select>
  </span>
  <span>
    <h2>
      Profesional
    </h2>
    <select class='form-select' aria-label="Default select example">
      <option selected>Seleccionar un Profesional</option>
      <option value="1">Oftalmología</option>
      <option value="2">Cardiología</option>
      <option value="3">Dermatología</option>
    </select>
  </span>
</div>
<div class='container-inputs'>
  <span>
    <h2>
      Especialidad
    </h2>
    <select class='form-select' aria-label="Default select example">
      <option selected>Seleccionar una especialidad</option>
      <option value="1">Oftalmología</option>
      <option value="2">Cardiología</option>
      <option value="3">Dermatología</option>
    </select>
  </span>
  <span>
    <h2>
      Seleccionar hora
    </h2>
    <select class='form-select' aria-label="Default select example">
      <option selected>Seleccionar una hora</option>
      <option value="1">Oftalmología</option>
      <option value="2">Cardiología</option>
      <option value="3">Dermatología</option>
    </select>
  </span>
</div>
