<header id="home">
    <div class="container"  >
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a href="#home" data-ancla="home">
                <img src="../assets/img/logo.png" alt="logo" width="80px"></a>
            </div>
            <div class="col-md-3 col-sm-5 pt-4">
                <h2 class="lead" id="nav">Clínica No Country</h2>
            </div>
            <div class="col-md-7 col-sm-5 pt-4 text-end" id="nav2">
                <a class="btn mx-3">Iniciar Sesion</a>
                <a class="btn mx-3">Registrarse</a>
            </div>
        </div>
    </div>
</header>

