
@import url('https://fonts.googleapis.com/css?family=Mulish');
* {
    box-sizing: border-box;
  }
 h1 {
  font-size: 74px;
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 35%;
    margin-right: 35%;
  }
  * {
    font-family: mulish;
  }
  .complete {
    font-size: 30px;
    margin-bottom: 3rem;
  }
  .tipo {
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 2rem;
  }
  .contra {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: 2rem;
  }
.container{
  display: flex;
  margin-top: 1rem;
  justify-items: center;
  align-items: center;
}
select {
  height: 50px;;
}
.custom-form {
    width: 624px;
    height: 540px;
    background: #153abe;
    padding: 3rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: #D2D7E9;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 0.1rem;
    margin-bottom: 5rem;
  }
.campo-select {
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: right 0.5rem center;
  background-size: 1.2em 1.2em;
  border-color: #d4d4d8;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-top: 0.2rem;
  padding-right: .5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-left: 2rem;
}
  
  .custom-form input {
    display: block;
    margin:  0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ffffff;
    margin-left: 2rem;
  }
  .custom-form button {
    
    letter-spacing: 0.6em;
    border: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    background-color:#183BB5;
    width: 70%;
    display: block;
    margin-top: 3rem;
    margin-left: 15%;
    padding: 0.875rem 1rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }
  .registrar {
    font-size: 1.2rem;
    margin-left: 55%;
    margin-bottom: 1%;
    margin-top: 1.5rem;
  }