<app-header></app-header>

<link type="text/css" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />



<div class="login">
    <h1>Iniciar Sesión</h1>
    <form action="" class="custom-form" method="post">
         <div class="complete">Complete sus datos</div>
         <div class="tipo">Ingrese su e-mail:</div>
        
            <input
                type="email"
                [(ngModel)]="email"
                name="email"
                placeholder="Ingrese su email"
                required="required"
                />
      
<div class="container-2">
<div class="contra">Contraseña</div>
<input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Ingrese Contraseña"
            required="required"
            />
            
             
</div>
   <button type="submit" (click)="login()">Ingresar</button>
    </form>
</div>


















<app-footer></app-footer>
