.patient-home {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.title {
  font-weight: 400;
}
.contain-menu {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-style {
  position: relative;
  background-color: rgba(24, 59, 181, 0.15);
}

.img-doctor {
  position: absolute;
  right: 15%;
  z-index: 1;
}

